<ion-content class="home-page">
  <button (click)="logout()">Volver</button>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Listado de tareas</ion-title>
      <ion-buttons slot="end">
        <ion-avatar slot="end">
          <img src="assets/img/user-avatar.png" alt="avatar" />
        </ion-avatar>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-card  class="card">
      <ion-card-header>
        <ion-card-title>NOMBRE TAREA</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" >Comenzar tarea</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
